{% for int in interfaces -%}
{% if int.state == "enabled" -%} 
set interfaces {{ int.name }} address {{ int.ip }}{{ int.mask }}{% else -%}
set interfaces {{ int.name }} address {{ int.ip }}{{ int.mask }} disabled {% endif -%}

{% if int.desc is defined and int.desc|length %}
set interfaces {{ int.name }} description '{{ int.desc }}'
{% endif -%}{% endfor -%}